@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ---------------- estruturando header ---------------------*/
header {
  height: 100vh;
  background-image: url(../img/fondo.jpg);
  filter: brightness(80%);
  display: grid;
  background-color: #000;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "menuu cab menu" "lema lema lema" "lemd lemd lemd"; }
  header .menuUno {
    grid-area: menuu;
    color: white; }
    header .menuUno .oculto {
      display: none; }
    header .menuUno nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly; }
      header .menuUno nav ul li {
        padding-top: 10px; }
        header .menuUno nav ul li a {
          text-decoration: none;
          color: white;
          font-size: 18px;
          filter: brightness(100%); }
          header .menuUno nav ul li a:hover {
            color: salmon;
            transform: scale(1.1); }
  header .cabanias {
    grid-area: cab;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Merriweather', serif; }
    header .cabanias h3 {
      font-size: 10px;
      font-weight: bold; }
  header .menuDos {
    grid-area: menu;
    color: white; }
    header .menuDos nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      color: white; }
      header .menuDos nav ul li {
        padding-top: 10px; }
        header .menuDos nav ul li a {
          text-decoration: none;
          color: white;
          font-size: 18px; }
          header .menuDos nav ul li a:hover {
            color: salmon;
            transform: scale(1.1); }
  header .lema {
    grid-area: lema;
    color: white;
    justify-content: center;
    display: flex;
    align-items: flex-end; }
    header .lema h2 {
      font-size: 15px;
      color: salmon; }
    header .lema h5 {
      font-size: 15px; }
    header .lema h6 {
      font-size: 15px;
      color: salmon; }
  header .lemaDos {
    grid-area: lemd;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif; }
    header .lemaDos h2 {
      font-size: 70px;
      font-weight: bold; }

.somos {
  text-align: center;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px; }
  .somos h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
    border-top: 3px double salmon;
    border-left: 3px double salmon;
    width: 100%; }
    .somos h3 span {
      color: salmon; }
  .somos p {
    font-size: 20px;
    border-bottom: 3px double salmon;
    border-right: 3px double salmon;
    margin: 10px;
    width: 100%; }

/* estructuracion del main */
main {
  padding: 30px 100px 20px 100px; }
  main .galeria-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 10px;
    border-top: 3px solid salmon;
    border-left: 3px solid salmon; }
    main .galeria-container .galeria-item:nth-child(4) {
      grid-column-start: span 2; }
    main .galeria-container .galeria-item:nth-child(5) {
      grid-row-start: span 2; }
    main .galeria-container .galeria-item:nth-child(9) {
      grid-column-start: span 2; }
    main .galeria-container .galeria-img {
      width: 100%;
      height: 100%;
      object-fit: fill; }

/* estructuracion de footer */
footer {
  height: 100%;
  display: flex;
  background-color: #000;
  padding: 20px;
  font-size: 20px;
  column-gap: 200px;
  justify-content: center;
  font-family: "Lobster", cursive; }
  footer .informacion .inf {
    font-size: 25px;
    color: salmon; }
  footer .informacion .dir {
    font-size: 15px;
    color: #393737; }
  footer .informacion .tel {
    font-size: 15px;
    color: #393737; }
  footer .informacion .email {
    font-size: 15px;
    color: #393737; }
  footer .horarios h4 {
    font-size: 25px;
    color: salmon; }
  footer .horarios h5 {
    font-size: 15px;
    color: #393737; }
    footer .horarios h5 span {
      display: block; }
  footer .horarios h6 {
    font-size: 15px;
    color: #393737; }
    footer .horarios h6 span {
      display: block; }

/* MEDIA QUERY*/
@media screen and (max-width: 1024px) {
  main .galeria-container {
    grid-auto-rows: 200px;
    gap: 10px; } }

@media screen and (max-width: 800px) {
  header .lemaDos h2 {
    font-size: 50px; }
  header .menuUno .oculto {
    display: block; }
  header .menuUno nav ul {
    display: none; }
  header .menuDos nav ul {
    display: none; }
  main .galeria-container {
    grid-auto-rows: 100px;
    gap: 10px; }
  footer {
    gap: 70px;
    padding-bottom: 10px; }
    footer .informacion .inf {
      font-size: 15px; }
    footer .informacion .dir {
      font-size: 10px; }
    footer .informacion .tel {
      font-size: 10px; }
    footer .informacion .email {
      font-size: 10px; }
    footer .horarios h4 {
      font-size: 15px; }
    footer .horarios h5 {
      font-size: 10px; }
    footer .horarios h6 {
      font-size: 10px; }
  .somos h3 {
    font-size: 20px; }
  .somos p {
    font-size: 15px; } }

/* ----------------***********  MENU  *********-----------------*/
.subMenu {
  height: 100%;
  width: 100%;
  text-align: center; }
  .subMenu nav {
    padding: 10px; }
    .subMenu nav ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      column-gap: 25px; }
      .subMenu nav ul li {
        text-align: center; }
        .subMenu nav ul li a {
          text-decoration: none;
          color: #ec6455;
          font-size: 20px;
          font-weight: 40px; }
          .subMenu nav ul li a:hover {
            font-size: 18px;
            text-decoration: underline; }

.mainMenu {
  display: flex;
  flex-direction: column;
  padding: 10px 100px;
  justify-content: space-evenly; }
  .mainMenu .menuComUno {
    display: flex;
    column-gap: 100px;
    padding: 20px 70px; }
    .mainMenu .menuComUno .comida1, .mainMenu .menuComUno .comida2, .mainMenu .menuComUno .comida3 {
      height: 70vh;
      width: 40%;
      justify-content: center;
      border: 2px solid salmon;
      box-shadow: 5px 5px 10px #464646; }
      .mainMenu .menuComUno .comida1:hover, .mainMenu .menuComUno .comida2:hover, .mainMenu .menuComUno .comida3:hover {
        transform: scale(1.01); }
      .mainMenu .menuComUno .comida1 .imgComida1, .mainMenu .menuComUno .comida2 .imgComida1, .mainMenu .menuComUno .comida3 .imgComida1, .mainMenu .comida2 .menuComUno .comida1 .imgComida2, .mainMenu .menuComUno .comida2 .imgComida2, .mainMenu .comida2 .menuComUno .comida3 .imgComida2, .mainMenu .comida3 .menuComUno .comida1 .imgComida3, .mainMenu .comida3 .menuComUno .comida2 .imgComida3, .mainMenu .menuComUno .comida3 .imgComida3 {
        width: 100%;
        height: 40%; }
        .mainMenu .menuComUno .comida1 .imgComida1 img, .mainMenu .menuComUno .comida2 .imgComida1 img, .mainMenu .menuComUno .comida3 .imgComida1 img, .mainMenu .comida2 .menuComUno .comida1 .imgComida2 img, .mainMenu .menuComUno .comida2 .imgComida2 img, .mainMenu .comida2 .menuComUno .comida3 .imgComida2 img, .mainMenu .comida3 .menuComUno .comida1 .imgComida3 img, .mainMenu .comida3 .menuComUno .comida2 .imgComida3 img, .mainMenu .menuComUno .comida3 .imgComida3 img {
          width: 100%;
          height: 100%;
          object-fit: fill; }
      .mainMenu .menuComUno .comida1 .infComida1, .mainMenu .menuComUno .comida2 .infComida1, .mainMenu .menuComUno .comida3 .infComida1, .mainMenu .comida2 .menuComUno .comida1 .infComida2, .mainMenu .menuComUno .comida2 .infComida2, .mainMenu .comida2 .menuComUno .comida3 .infComida2, .mainMenu .comida3 .menuComUno .comida1 .infComida3, .mainMenu .comida3 .menuComUno .comida2 .infComida3, .mainMenu .menuComUno .comida3 .infComida3 {
        width: 100%;
        height: 40%;
        text-align: center; }
        .mainMenu .menuComUno .comida1 .infComida1 p, .mainMenu .menuComUno .comida2 .infComida1 p, .mainMenu .menuComUno .comida3 .infComida1 p, .mainMenu .comida2 .menuComUno .comida1 .infComida2 p, .mainMenu .menuComUno .comida2 .infComida2 p, .mainMenu .comida2 .menuComUno .comida3 .infComida2 p, .mainMenu .comida3 .menuComUno .comida1 .infComida3 p, .mainMenu .comida3 .menuComUno .comida2 .infComida3 p, .mainMenu .menuComUno .comida3 .infComida3 p {
          text-align: justify; }
      .mainMenu .menuComUno .comida1 .comprar, .mainMenu .menuComUno .comida2 .comprar, .mainMenu .menuComUno .comida3 .comprar, .mainMenu .comida2 .menuComUno .comida1 .comprar2, .mainMenu .menuComUno .comida2 .comprar2, .mainMenu .comida2 .menuComUno .comida3 .comprar2, .mainMenu .comida3 .menuComUno .comida1 .comprar3, .mainMenu .comida3 .menuComUno .comida2 .comprar3, .mainMenu .menuComUno .comida3 .comprar3 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center; }
  .mainMenu .comida2 .imgComida2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .mainMenu .comida2 .infComida2 p {
    text-align: justify; }
  .mainMenu .comida3 .imgComida3 img {
    width: 100%;
    height: 100%;
    object-fit: fill; }
  .mainMenu .comida3 .infComida3 p {
    text-align: justify; }

/* ----------------------- MEDIA QUERYS -------------------*/
@media screen and (max-width: 800px) {
  .mainMenu .menuComUno {
    column-gap: 10px;
    padding: 5px 5px; }
    .mainMenu .menuComUno .comida1, .mainMenu .menuComUno .comida2, .mainMenu .menuComUno .comida3 {
      height: 60vh;
      width: 40%; }
      .mainMenu .menuComUno .comida1 .imgComida1, .mainMenu .menuComUno .comida2 .imgComida1, .mainMenu .menuComUno .comida3 .imgComida1, .mainMenu .comida2 .menuComUno .comida1 .imgComida2, .mainMenu .menuComUno .comida2 .imgComida2, .mainMenu .comida2 .menuComUno .comida3 .imgComida2, .mainMenu .comida3 .menuComUno .comida1 .imgComida3, .mainMenu .comida3 .menuComUno .comida2 .imgComida3, .mainMenu .menuComUno .comida3 .imgComida3 {
        height: 40%; }
      .mainMenu .menuComUno .comida1 .infComida1, .mainMenu .menuComUno .comida2 .infComida1, .mainMenu .menuComUno .comida3 .infComida1, .mainMenu .comida2 .menuComUno .comida1 .infComida2, .mainMenu .menuComUno .comida2 .infComida2, .mainMenu .comida2 .menuComUno .comida3 .infComida2, .mainMenu .comida3 .menuComUno .comida1 .infComida3, .mainMenu .comida3 .menuComUno .comida2 .infComida3, .mainMenu .menuComUno .comida3 .infComida3 {
        height: 40%; }
        .mainMenu .menuComUno .comida1 .infComida1 h2, .mainMenu .menuComUno .comida2 .infComida1 h2, .mainMenu .menuComUno .comida3 .infComida1 h2, .mainMenu .comida2 .menuComUno .comida1 .infComida2 h2, .mainMenu .menuComUno .comida2 .infComida2 h2, .mainMenu .comida2 .menuComUno .comida3 .infComida2 h2, .mainMenu .comida3 .menuComUno .comida1 .infComida3 h2, .mainMenu .comida3 .menuComUno .comida2 .infComida3 h2, .mainMenu .menuComUno .comida3 .infComida3 h2 {
          font-size: 15px; }
        .mainMenu .menuComUno .comida1 .infComida1 p, .mainMenu .menuComUno .comida2 .infComida1 p, .mainMenu .menuComUno .comida3 .infComida1 p, .mainMenu .comida2 .menuComUno .comida1 .infComida2 p, .mainMenu .menuComUno .comida2 .infComida2 p, .mainMenu .comida2 .menuComUno .comida3 .infComida2 p, .mainMenu .comida3 .menuComUno .comida1 .infComida3 p, .mainMenu .comida3 .menuComUno .comida2 .infComida3 p, .mainMenu .menuComUno .comida3 .infComida3 p {
          font-size: 5px; }
      .mainMenu .menuComUno .comida1 .comprar, .mainMenu .menuComUno .comida2 .comprar, .mainMenu .menuComUno .comida3 .comprar, .mainMenu .comida2 .menuComUno .comida1 .comprar2, .mainMenu .menuComUno .comida2 .comprar2, .mainMenu .comida2 .menuComUno .comida3 .comprar2, .mainMenu .comida3 .menuComUno .comida1 .comprar3, .mainMenu .comida3 .menuComUno .comida2 .comprar3, .mainMenu .menuComUno .comida3 .comprar3 {
        height: 20%; } }

@media screen and (max-width: 1024px) {
  .mainMenu {
    padding: 10px 10px; }
    .mainMenu .menuComUno {
      column-gap: 10px; }
      .mainMenu .menuComUno .comida1, .mainMenu .menuComUno .comida2, .mainMenu .menuComUno .comida3 {
        height: 65vh;
        width: 500px; }
        .mainMenu .menuComUno .comida1 .imgComida1, .mainMenu .menuComUno .comida2 .imgComida1, .mainMenu .menuComUno .comida3 .imgComida1, .mainMenu .comida2 .menuComUno .comida1 .imgComida2, .mainMenu .menuComUno .comida2 .imgComida2, .mainMenu .comida2 .menuComUno .comida3 .imgComida2, .mainMenu .comida3 .menuComUno .comida1 .imgComida3, .mainMenu .comida3 .menuComUno .comida2 .imgComida3, .mainMenu .menuComUno .comida3 .imgComida3 {
          height: 40%; }
        .mainMenu .menuComUno .comida1 .infComida1, .mainMenu .menuComUno .comida2 .infComida1, .mainMenu .menuComUno .comida3 .infComida1, .mainMenu .comida2 .menuComUno .comida1 .infComida2, .mainMenu .menuComUno .comida2 .infComida2, .mainMenu .comida2 .menuComUno .comida3 .infComida2, .mainMenu .comida3 .menuComUno .comida1 .infComida3, .mainMenu .comida3 .menuComUno .comida2 .infComida3, .mainMenu .menuComUno .comida3 .infComida3 {
          height: 40%; }
          .mainMenu .menuComUno .comida1 .infComida1 h2, .mainMenu .menuComUno .comida2 .infComida1 h2, .mainMenu .menuComUno .comida3 .infComida1 h2, .mainMenu .comida2 .menuComUno .comida1 .infComida2 h2, .mainMenu .menuComUno .comida2 .infComida2 h2, .mainMenu .comida2 .menuComUno .comida3 .infComida2 h2, .mainMenu .comida3 .menuComUno .comida1 .infComida3 h2, .mainMenu .comida3 .menuComUno .comida2 .infComida3 h2, .mainMenu .menuComUno .comida3 .infComida3 h2 {
            font-size: 20px; }
          .mainMenu .menuComUno .comida1 .infComida1 p, .mainMenu .menuComUno .comida2 .infComida1 p, .mainMenu .menuComUno .comida3 .infComida1 p, .mainMenu .comida2 .menuComUno .comida1 .infComida2 p, .mainMenu .menuComUno .comida2 .infComida2 p, .mainMenu .comida2 .menuComUno .comida3 .infComida2 p, .mainMenu .comida3 .menuComUno .comida1 .infComida3 p, .mainMenu .comida3 .menuComUno .comida2 .infComida3 p, .mainMenu .menuComUno .comida3 .infComida3 p {
            font-size: 10px; }
        .mainMenu .menuComUno .comida1 .comprar, .mainMenu .menuComUno .comida2 .comprar, .mainMenu .menuComUno .comida3 .comprar, .mainMenu .comida2 .menuComUno .comida1 .comprar2, .mainMenu .menuComUno .comida2 .comprar2, .mainMenu .comida2 .menuComUno .comida3 .comprar2, .mainMenu .comida3 .menuComUno .comida1 .comprar3, .mainMenu .comida3 .menuComUno .comida2 .comprar3, .mainMenu .menuComUno .comida3 .comprar3 {
          height: 20%;
          align-items: flex-end; } }

@media screen and (max-width: 1350px) {
  .mainMenu {
    padding: 10px 10px; }
    .mainMenu .menuComUno {
      column-gap: 40px; }
      .mainMenu .menuComUno .comida1, .mainMenu .menuComUno .comida2, .mainMenu .menuComUno .comida3 {
        height: 65vh;
        width: 500px; }
        .mainMenu .menuComUno .comida1 .imgComida1, .mainMenu .menuComUno .comida2 .imgComida1, .mainMenu .menuComUno .comida3 .imgComida1, .mainMenu .comida2 .menuComUno .comida1 .imgComida2, .mainMenu .menuComUno .comida2 .imgComida2, .mainMenu .comida2 .menuComUno .comida3 .imgComida2, .mainMenu .comida3 .menuComUno .comida1 .imgComida3, .mainMenu .comida3 .menuComUno .comida2 .imgComida3, .mainMenu .menuComUno .comida3 .imgComida3 {
          height: 40%; }
        .mainMenu .menuComUno .comida1 .infComida1, .mainMenu .menuComUno .comida2 .infComida1, .mainMenu .menuComUno .comida3 .infComida1, .mainMenu .comida2 .menuComUno .comida1 .infComida2, .mainMenu .menuComUno .comida2 .infComida2, .mainMenu .comida2 .menuComUno .comida3 .infComida2, .mainMenu .comida3 .menuComUno .comida1 .infComida3, .mainMenu .comida3 .menuComUno .comida2 .infComida3, .mainMenu .menuComUno .comida3 .infComida3 {
          height: 40%; }
          .mainMenu .menuComUno .comida1 .infComida1 h2, .mainMenu .menuComUno .comida2 .infComida1 h2, .mainMenu .menuComUno .comida3 .infComida1 h2, .mainMenu .comida2 .menuComUno .comida1 .infComida2 h2, .mainMenu .menuComUno .comida2 .infComida2 h2, .mainMenu .comida2 .menuComUno .comida3 .infComida2 h2, .mainMenu .comida3 .menuComUno .comida1 .infComida3 h2, .mainMenu .comida3 .menuComUno .comida2 .infComida3 h2, .mainMenu .menuComUno .comida3 .infComida3 h2 {
            font-size: 20px; }
          .mainMenu .menuComUno .comida1 .infComida1 p, .mainMenu .menuComUno .comida2 .infComida1 p, .mainMenu .menuComUno .comida3 .infComida1 p, .mainMenu .comida2 .menuComUno .comida1 .infComida2 p, .mainMenu .menuComUno .comida2 .infComida2 p, .mainMenu .comida2 .menuComUno .comida3 .infComida2 p, .mainMenu .comida3 .menuComUno .comida1 .infComida3 p, .mainMenu .comida3 .menuComUno .comida2 .infComida3 p, .mainMenu .menuComUno .comida3 .infComida3 p {
            font-size: 15px; }
        .mainMenu .menuComUno .comida1 .comprar, .mainMenu .menuComUno .comida2 .comprar, .mainMenu .menuComUno .comida3 .comprar, .mainMenu .comida2 .menuComUno .comida1 .comprar2, .mainMenu .menuComUno .comida2 .comprar2, .mainMenu .comida2 .menuComUno .comida3 .comprar2, .mainMenu .comida3 .menuComUno .comida1 .comprar3, .mainMenu .comida3 .menuComUno .comida2 .comprar3, .mainMenu .menuComUno .comida3 .comprar3 {
          height: 20%; } }

/* -*-*--*-*-*-*-*---HOSPEDAJE --- *-*-*-*-**-*-*-**-- */
/* section descripcion*/
header .cabanias .tit {
  font-size: 20px;
  font-weight: bolder; }

header .cabanias h3 {
  padding: 0; }

.descripcion {
  padding: 0px 150px 10px;
  text-align: center; }

.mainHospedaje {
  display: flex;
  flex-direction: column; }
  .mainHospedaje .cardUno {
    display: flex;
    column-gap: 20px; }
    .mainHospedaje .cardUno .infoUno h3 {
      text-align: center; }
      .mainHospedaje .cardUno .infoUno h3 span {
        color: salmon; }
    .mainHospedaje .cardUno .infoUno p {
      text-align: center; }
    .mainHospedaje .cardUno .imgCabu #carouselExampleFade .carousel-inner .carousel-item {
      height: 20rem;
      width: 40rem;
      background-position: center;
      background-size: cover; }
  .mainHospedaje .cardDos {
    display: flex;
    column-gap: 20px; }
    .mainHospedaje .cardDos .infoDos h3 {
      text-align: center; }
      .mainHospedaje .cardDos .infoDos h3 span {
        color: salmon; }
    .mainHospedaje .cardDos .infoDos p {
      text-align: center; }
    .mainHospedaje .cardDos .imgCabd #carouselExampleFade .carousel-inner .carousel-item {
      height: 20rem;
      width: 40rem;
      background-position: center;
      background-size: cover; }
  .mainHospedaje .cardTres {
    display: flex;
    column-gap: 20px; }
    .mainHospedaje .cardTres .infoTres h3 {
      text-align: center; }
      .mainHospedaje .cardTres .infoTres h3 span {
        color: salmon; }
    .mainHospedaje .cardTres .infoTres p {
      text-align: center; }
    .mainHospedaje .cardTres .imgCabt #carouselExampleFade .carousel-inner .carousel-item {
      height: 20rem;
      width: 40rem;
      background-position: center;
      background-size: cover; }

/* MEDIA QUERY */
@media screen and (max-width: 1000px) {
  .mainHospedaje .cardUno {
    flex-direction: column; }
    .mainHospedaje .cardUno .imgCabu #carouselExampleFade .carousel-inner .carousel-item {
      height: 20rem;
      width: 40rem;
      background-position: center;
      background-size: cover; }
  .mainHospedaje .cardDos {
    flex-direction: column-reverse; }
    .mainHospedaje .cardDos .imgCabd #carouselExampleFade .carousel-inner .carousel-item {
      height: 20rem;
      width: 40rem;
      background-position: center;
      background-size: cover; }
  .mainHospedaje .cardTres {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .mainHospedaje .imgCabu {
    width: 100%; } }

/* ********* ACTIVIDADES *********************** */
.mainActi {
  display: flex;
  column-gap: 30px; }
  .mainActi .sexUno .cardPrimera {
    box-shadow: -5px -5px 10px black, 5px 5px 10px black; }
    .mainActi .sexUno .cardPrimera:hover {
      transform: scale(1.01); }
    .mainActi .sexUno .cardPrimera .actiUno {
      width: 100%;
      height: 70%; }
      .mainActi .sexUno .cardPrimera .actiUno img {
        width: 100%;
        height: 100%; }
    .mainActi .sexUno .cardPrimera .descripcion1 {
      text-align: center; }
  .mainActi .sexUno .cardSegunda {
    box-shadow: 5px 5px 10px black, -5px -5px 10px black; }
    .mainActi .sexUno .cardSegunda:hover {
      transform: scale(1.01); }
    .mainActi .sexUno .cardSegunda .actiDos {
      width: 100%;
      height: 70%; }
      .mainActi .sexUno .cardSegunda .actiDos img {
        width: 100%;
        height: 100%; }
    .mainActi .sexUno .cardSegunda .descripcion2 {
      text-align: center; }

/* diseño ubicacion*/
.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .central .deskUbicacion {
    padding: 0px 150px 10px;
    text-align: center; }
  .central .imagenCinco {
    box-shadow: 5px 5px 10px black;
    border: 2px solid #24ab38;
    width: 60%;
    height: 80vh; }
    .central .imagenCinco iframe {
      width: 100%;
      height: 100%; }
