/* -*-*--*-*-*-*-*---HOSPEDAJE --- *-*-*-*-**-*-*-**-- */

/* section descripcion*/


body {
    background-color: rgb(190, 190, 190);
}

header {
    .cabanias {
        .tit {
            font-size: 20px;
            font-weight: bolder;
        }

        h3 {
            padding: 0;
        }
    }
}

.descripcion {
    @include textoCentrado;
    padding: 50px;
}


.mainHospedaje {
    display: flex;
    flex-direction: column;

    .cardUno {
        display: flex;
        column-gap: 20px;

        .infoUno {

            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }


        }

        .imgCabu {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {
                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }

        }


    }

    .cardDos {
        display: flex;
        column-gap: 20px;

        .infoDos {
            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }
        }

        .imgCabd {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {

                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;

                    }

                }

            }


        }
    }

    .cardTres {
        display: flex;
        column-gap: 20px;

        .infoTres {
            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }
        }

        .imgCabt {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {

                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;

                    }

                }

            }


        }
    }


    #conteItemCarrusel {

        height: 300px;
        width: 150rem;
        overflow: hidden;

        .itemCarrusel {

            height: 300px;
            width: 40rem;
            position: relative;           

            .tarjetaCarrusel {                
                
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit:cover;
                }

            }

            .flechasCarrusel {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;

                a {
                    text-decoration: none;

                    i {
                        color: rgb(176, 176, 176);
                        font-size: 30px;
                        &:hover{
                            color: white;
                        }
                    }
                }

            }

        }



    }

}

/* ----------------MEDIA QUERY -------------------- */

@media screen and (max-width: 1200px) {

   .mainHospedaje{
    
    padding: 10px 50px;

    .cardUno{
        align-items: center;
    }
   }
   
    .imgCabu {
        width: 100%;
    }



}




@media screen and (max-width: 900px) {

    .mainHospedaje {
        

        .cardUno {
            flex-direction: column;

            .imgCabu {
                width: 100%;



                #carouselExampleFade {
                    align-items: center;
                    justify-content: center;


                    .carousel-inner {
                       


                        .carousel-item {

                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;

                        }

                    }

                }
            }
        }

        .cardDos {
            flex-direction: column-reverse;

            .imgCabd {
                width: 100%;

                #carouselExampleFade {

                    .carousel-inner {


                        .carousel-item {

                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;

                        }

                    }

                }
            }
        }

        .cardTres {
            flex-direction: column;

            .imgCabt{
                width: 100%;
            }
        }


    }

}


@media screen and (max-width: 600px) {

    
    .descripcion {
        padding: 5px 15px 0px;
    }

    .mainHospedaje {
        padding: 10px;
        

        .imgCabu {
            width: 100%;
        }
    }

}

@media screen and (max-width: 400px) {

    .mainHospedaje {
        padding: 1px;

        .imgCabu {
            width: 100%;

            #carouselExampleFade {

                .carousel-inner {


                    .carousel-item {
                        height: 10rem;
                        width: 15rem;


                    }

                }

            }
        }
    }

}