/* -*-*--*-*-*-*-*---HOSPEDAJE --- *-*-*-*-**-*-*-**-- */

/* section descripcion*/


body {
    background-color: rgb(190, 190, 190);
}

header {
    .cabanias {
        .tit {
            font-size: 20px;
            font-weight: bolder;
        }

        h3 {
            padding: 0;
        }
    }
}

.descripcion {
    @include textoCentrado;
}


.mainHospedaje {
    display: flex;
    flex-direction: column;

    .cardUno {
        display: flex;
        column-gap: 20px;

        .infoUno {

            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }


        }

        .imgCabu {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {
                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }

        }


    }

    .cardDos {
        display: flex;
        column-gap: 20px;

        .infoDos {
            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }
        }

        .imgCabd {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {

                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;

                    }

                }

            }


        }
    }

    .cardTres {
        display: flex;
        column-gap: 20px;

        .infoTres {
            h3 {
                text-align: center;

                span {
                    color: salmon;
                }
            }

            p {
                text-align: center;
            }
        }

        .imgCabt {

            #carouselExampleFade {

                .carousel-inner {

                    .carousel-item {

                        height: 20rem;
                        width: 40rem;
                        background-position: center;
                        background-size: cover;

                    }

                }

            }


        }
    }


    #conteItemCarrusel {

        height: 200px;
        overflow: hidden;

        

        .itemCarrusel {
            border: 2px solid black;
            height: 200px;
            position: relative;
           

            #tarjetaCarrusel-1{
                background-color: green;
            }

            #tarjetaCarrusel-2{
                background-color: rgb(44, 93, 96);
            }

            #tarjetaCarrusel-3{
                background-color: rgb(188, 144, 31);
            }

            .tarjetaCarrusel {
                background-color: aqua;
                height: 100%;

            }

            .flechasCarrusel {                
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;

                a{
                    text-decoration: none;
                }

            }

        }

        

    }

}

/* ----------------MEDIA QUERY -------------------- */

@media screen and (max-width: 1200px) {

    .imgCabu {
        width: 100%;
    }



}




@media screen and (max-width: 1000px) {

    .mainHospedaje {

        .cardUno {
            flex-direction: column;

            .imgCabu {



                #carouselExampleFade {


                    .carousel-inner {



                        .carousel-item {

                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;

                        }

                    }

                }
            }
        }

        .cardDos {
            flex-direction: column-reverse;

            .imgCabd {

                #carouselExampleFade {

                    .carousel-inner {


                        .carousel-item {

                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;

                        }

                    }

                }
            }
        }

        .cardTres {
            flex-direction: column;
        }


    }

}


@media screen and (max-width: 600px) {

    .descripcion {
        padding: 5px 15px 0px;
    }

    .mainHospedaje {
        padding: 10px;

        .imgCabu {
            width: 100%;
        }
    }

}

@media screen and (max-width: 400px) {

    .mainHospedaje {
        padding: 1px;

        .imgCabu {
            width: 100%;

            #carouselExampleFade {

                .carousel-inner {


                    .carousel-item {
                        height: 10rem;
                        width: 15rem;


                    }

                }

            }
        }
    }

}