/* ----------------***********  MENU  *********-----------------*/


.subMenu {
    height: 100%;
    width: 100%;
    text-align: center;

    nav {
        padding: 10px;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            column-gap: 25px;

            li {

                text-align: center;


                a {
                    text-decoration: none;
                    color: rgb(236, 100, 85);
                    font-size: 20px;
                    font-weight: 40px;


                    &:hover {

                        font-size: 18px;
                        text-decoration: underline;

                    }


                }
            }
        }
    }
}

.mainMenu {
    
    display: grid;
    padding: 10px 10px;
    justify-content: center;
    row-gap: 20px;
    

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: "comida1 comida2"
    "comida3 comida4"
    "comida5 comida6";

    .comida1{
        grid-area: comida1;
        height: 50vh;
            width: 70%;
            justify-content: center;
            border: 2px solid salmon;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);

            &:hover {
                transform: scale(1.01);
            }


            .imgComida1 {
                width: 100%;
                height: 50%;



                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;

                }
            }

            .infComida1 {
                width: 100%;
                height: 30%;
                text-align: center;

                p {
                    text-align: justify;
                }
            }

            .comprar {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }

    .comida2{
        grid-area: comida2;
        @extend .comida1;

        .imgComida2 {
            @extend .imgComida1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .infComida2 {
            @extend .infComida1;

            p {
                text-align: justify;
            }

        }

        .comprar2 {
            @extend .comprar;
        }
    }

    .comida3{
        grid-area: comida3;
    }

    .comida4{
        grid-area: comida4;
    }

    .comida5{
        grid-area: comida5;
    }

    .comida6{
        grid-area: comida6;
    }
    

        

    .comida2 {

       
    }

    .comida3 {
        @extend .comida1;

        .imgComida3 {
            @extend .imgComida1;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .infComida3 {
            @extend .infComida1;

            p {
                text-align: justify;
            }
        }

        .comprar3 {
            @extend .comprar;
        }
    }
}



/* ----------------------- MEDIA QUERYS -------------------*/


// @media screen and (max-width: 800px) {

//     .mainMenu {      
        

//         .menuComUno {
//             column-gap: 10px;
//             padding: 5px 5px;

//             .comida1 {
//                 height: 50vh;
//                 width: 35%;

//                 .imgComida1 {
//                     height: 40%;

//                     img {
                        
//                     }
//                 }



//                 .infComida1 {
//                     height: 40%;

//                     h2 {
//                         font-size: 15px;
//                     }

//                     p {
//                         font-size: 5px;
//                     }
//                 }

//                 .comprar {
//                     height: 20%;
//                 }

//             }
//         }
//     }

// }


// @media screen and (max-width: 1024px) {

//     .mainMenu {
//         padding: 10px 10px;


//         .menuComUno {
//             column-gap: 10px;

//             .comida1 {
//                 height: 65vh;
//                 width: 500px;

//                 .imgComida1 {
//                     height: 40%;

//                     img {}
//                 }

//                 .infComida1 {
//                     height: 40%;

//                     h2 {
//                         font-size: 20px;
//                     }

//                     p {
//                         font-size: 10px;

//                     }


//                 }

//                 .comprar {
//                     height: 20%;
//                     align-items: flex-end;


//                 }
//             }
//         }
//     }

// }



// @media screen and (max-width: 1350px) {

//     .mainMenu {
//         padding: 10px 10px;


//         .menuComUno {
//             column-gap: 40px;

//             .comida1 {
//                 height: 50vh;
//                 width: 500px;

//                 .imgComida1 {
//                     height: 50%;

//                     img {}
//                 }

//                 .infComida1 {
//                     height: 30%;

//                     h2 {
//                         font-size: 20px;
//                     }

//                     p {
//                         font-size: 15px;

//                     }


//                 }

//                 .comprar {
//                     height: 20%;


//                 }
//             }
//         }
//     }

// }


@media screen and (max-width: 600px) {

    .mainMenu{
        background-color: red;
    }
        // display: grid;

        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr;

        // grid-template-areas: "comida1 comida2"
        //                     "comida3 comida4"
        //                     "comida5 comida6";

        // .comida1{
        //     grid-area: comida1;
        // }

        // .comida2{
        //     grid-area: comida2;
        // }

        // .comida3{
        //     grid-area: comida3;
        // }

        // .comida4{
        //     grid-area: comida4;
        // }

        // .comida5{
        //     grid-area: comida5;
        // }

        // .comida6{
        //     grid-area: comida6;
        // }

        // .comida1{
        //     height: 50vh;
        //     width: 50rem;

        // }
    
    
}

@media screen and (max-width: 400px){
    .mainMenu{
        background-color: blue;
    }
}