
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMPORT

@import "utilities/variables";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import "utilities/index";



/* ---------------- estruturando header ---------------------*/





/* -*-*--*-*-*-*-*---HOSPEDAJE --- *-*-*-*-**-*-*-**-- */ 

/* section descripcion*/ 

header{
    .cabanias{
        .tit{
            font-size: 20px;
            font-weight: bolder;
        }
        h3{
            padding: 0;
        }
    }
}

.descripcion{
    padding: 0px 150px 10px;
    text-align: center;
}


.mainHospedaje{
    display: flex;
    flex-direction: column;

.cardUno{
    display: flex;
    column-gap: 20px;

    .infoUno{

        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }

        
    }

    .imgCabu{

        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{
                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        
    }


}

.cardDos{
    display: flex;
    column-gap: 20px;

    .infoDos{
        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }
    }

    .imgCabd{
        
        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{

                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;

                }

            }

        }
        

    }
}

.cardTres{
    display: flex;
    column-gap: 20px;

    .infoTres{
        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }
    }

    .imgCabt{

        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{

                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;

                }

            }

        }
        // width: 80%;
        // height: 20%;

        // img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
        
    }
}

}

/* MEDIA QUERY */ 

@media screen and (max-width: 1000px) {

    .mainHospedaje{

        // display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: repeat(6, 1fr);

        // grid-template-areas: "cab1"
        //                      "inf1"
        //                      "cab2"
        //                      "inf2"
        //                      "cab3"
        //                      "inf3"                            
        //                      ;


        .cardUno{
            flex-direction: column;

            .imgCabu{

                #carouselExampleFade{

                    .carousel-inner{
                        
        
                        .carousel-item{
        
                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;
        
                        }
        
                    }
        
                }
            }
        }

        .cardDos{            
            flex-direction: column-reverse;

            .imgCabd{

                #carouselExampleFade{

                    .carousel-inner{
                        
        
                        .carousel-item{
        
                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;
        
                        }
        
                    }
        
                }
            }
        }

        .cardTres{
            flex-direction: column;
        }
        

    }
    
}


/* ----------------***********  MENU  *********-----------------*/


.subMenu{
    color: salmon;
}

.mainMenu{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    justify-content: space-evenly;
    

    .menuComUno{
        display: flex;
        column-gap: 100px;
        padding:  20px 70px;
        

        .comida1{
            height: 70vh;
            width: 40%;
            justify-content: center;
            border: 2px solid salmon;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);
            

            .imgComida1{
                width: 100%;
                height: 40%;
                
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                    
                }
            }

            .infComida1{
                width: 100%;
                height: 40%;
                text-align: center;
                                
                p{
                    text-align: justify;
                }
            }

            .comprar{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
                }
            }            
        }

        .comida2{
            height: 70vh;
            width: 40%;
            border: 2px solid salmon;
            justify-content: center;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);

            .imgComida2{
                width: 100%;
                height: 40%;
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
                
            }

            .infComida2{
                height: 40%;
                width: 100%;
                text-align: center;

                p{
                    text-align: justify;
                }

            }

            .comprar2{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
            }
        }

        .comida3{
            height: 70vh;
            width: 40%;
            justify-content: center;
            border: 2px solid salmon;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);
            

            .imgComida3{
                width: 100%;
                height: 40%;
              
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                }
            }

            .infComida3{
                width: 100%;
                height: 40%;
                text-align: center;
                                
                p{
                    text-align: justify;
                }
            }

            .comprar3{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
                }
            }            
        }
        
    
    
    .menuComDos{
        display: flex;
        
    }
