
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMPORT

@import "utilities/variables";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import "utilities/index";
@import "utilities/menu";
@import "utilities/hospedale";
@import "utilities/actividades";











