/* -*-*--*-*-*-*-*---HOSPEDAJE --- *-*-*-*-**-*-*-**-- */ 

/* section descripcion*/ 

header{
    .cabanias{
        .tit{
            font-size: 20px;
            font-weight: bolder;
        }
        h3{
            padding: 0;
        }
    }
}

.descripcion{
    padding: 0px 150px 10px;
    text-align: center;
}


.mainHospedaje{
    display: flex;
    flex-direction: column;

.cardUno{
    display: flex;
    column-gap: 20px;

    .infoUno{

        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }

        
    }

    .imgCabu{

        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{
                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        
    }


}

.cardDos{
    display: flex;
    column-gap: 20px;

    .infoDos{
        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }
    }

    .imgCabd{
        
        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{

                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;

                }

            }

        }
        

    }
}

.cardTres{
    display: flex;
    column-gap: 20px;

    .infoTres{
        h3{
            text-align: center;
            span{
                color: salmon;
            }
        }

        p{
            text-align: center;
        }
    }

    .imgCabt{

        #carouselExampleFade{

            .carousel-inner{

                .carousel-item{

                    height: 20rem;
                    width: 40rem;
                    background-position: center;
                    background-size: cover;

                }

            }

        }
        // width: 80%;
        // height: 20%;

        // img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
        
    }
}

}

/* MEDIA QUERY */ 

@media screen and (max-width: 1000px) {

    .mainHospedaje{

            .cardUno{
            flex-direction: column;

            .imgCabu{

                #carouselExampleFade{

                    .carousel-inner{
                        
        
                        .carousel-item{
        
                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;
        
                        }
        
                    }
        
                }
            }
        }

        .cardDos{            
            flex-direction: column-reverse;

            .imgCabd{

                #carouselExampleFade{

                    .carousel-inner{
                        
        
                        .carousel-item{
        
                            height: 20rem;
                            width: 40rem;
                            background-position: center;
                            background-size: cover;
        
                        }
        
                    }
        
                }
            }
        }

        .cardTres{
            flex-direction: column;
        }
        

    }
    
}