/* ----------------***********  MENU  *********-----------------*/


.subMenu{
    height: 100%;
    width: 100%;    
    text-align: center;
    
    nav{
        padding: 10px;
        ul{
            display: flex;
            list-style-type: none;
            justify-content: center;
            column-gap: 25px;
            
            li{
                
                text-align: center;
                
                
                a{
                    text-decoration: none;
                    color: rgb(236, 100, 85);
                    font-size: 20px;
                    font-weight:40px;
                    

                    &:hover{
                        
                        font-size: 18px;
                        text-decoration:underline;
                        
                    }
                    

                }
            }
        }
    }
}

.mainMenu{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    justify-content: space-evenly;
    

    .menuComUno{
        display: flex;
        column-gap: 100px;
        padding:  20px 70px;
        

        .comida1{
            height: 70vh;
            width: 40%;
            justify-content: center;
            border: 2px solid salmon;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);

            &:hover{
                transform: scale(1.01);
            }
            

            .imgComida1{
                width: 100%;
                height: 40%;
                
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                    
                }
            }

            .infComida1{
                width: 100%;
                height: 40%;
                text-align: center;
                                
                p{
                    text-align: justify;
                }
            }

            .comprar{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
                }
            }            
        }

        .comida2{
            height: 70vh;
            width: 40%;
            border: 2px solid salmon;
            justify-content: center;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);

            .imgComida2{
                width: 100%;
                height: 40%;
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
                
            }

            .infComida2{
                height: 40%;
                width: 100%;
                text-align: center;

                p{
                    text-align: justify;
                }

            }

            .comprar2{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
            }
        }

        .comida3{
            height: 70vh;
            width: 40%;
            justify-content: center;
            border: 2px solid salmon;
            box-shadow: 5px 5px 10px rgb(70, 70, 70);
            

            .imgComida3{
                width: 100%;
                height: 40%;
              
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                }
            }

            .infComida3{
                width: 100%;
                height: 40%;
                text-align: center;
                                
                p{
                    text-align: justify;
                }
            }

            .comprar3{
                width: 100%;
                height: 20%;
                display: flex;                
                justify-content: center;
                align-items: center;
                }
            }            
        }
        
    
    
    .menuComDos{
        display: flex;
        
    }
